<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="flexme">
        <iframe src="http://player.twitch.tv/?channel=faker" height="720" width="1280" frameborder="0" scrolling="no" allowfullscreen="true">
        </iframe>
        <iframe frameborder="0" scrolling="no" id="chat_embed" src="http://www.twitch.tv/faker/chat" height="400" width="400">
        </iframe>
    </div>
    <img src="http://ttv-api.s3.amazonaws.com/assets/connect_dark.png" class="twitch-connect" href="#" />
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>

    <script src="../app.js"></script>

</body>

</html>
